@font-face {
    font-family: 'FixWidth';
    src: url('../font/secrcode.eot');
    src: url('../font/secrcode.eot') format('embedded-opentype'),
         url('../font/secrcode.woff') format('woff'),
         url('../font/secrcode.ttf') format('truetype'),
         url('../font/secrcode.svg#SecretCodeRegular') format('svg');
}
a {text-decoration: none; color: black;}
html {background-image: url('../images/bg.jpg');height: 100%;}
body {margin-top: 0; height: 100%;}
img {
	border-radius: 2px; 
	height: 100px; 
	width: 100px;
	box-shadow: 2px 4px 15px #888888;
}

p {font-family: FixWidth;}

.selectedNav {text-decoration: underline;}

@-webkit-keyframes wiggle {
	0% {-webkit-transform: rotate(0deg);}
	33% {-webkit-transform: rotate(-.75deg);}
	66% {-webkit-transform: rotate(.75deg);}
	100% {-webkit-transform: rotate(0deg);}
}

@keyframes wiggle {
	0% {transform: rotate(0deg);}
	33% {transform: rotate(-1deg);}
	66% {transform: rotate(1deg);}
	100% {transform: rotate(0deg);}
}
	
.selectedTitle { 
	background: -webkit-linear-gradient(top, #000089, black);
	background: -moz-linear-gradient(top, #000089, black);
	background: -ms-linear-gradient(top, #000089, black);
	background: -o-linear-gradient(top, #000089, black);
	text-rendering: optimizeLegibility;
	color: white;
}

.notSelectedTitle { 
	background: -webkit-linear-gradient(top, #FFc973, #ff9500);
	background: -moz-linear-gradient(top, #FFc973, #ff9500);
	background: -ms-linear-gradient(top, #FFc973, #ff9500);
	background: -o-linear-gradient(top, #FFc973, #ff9500);
	color: black;
}


	
#header {
	background-color: white;
	color: white;
	font-size: 2em;
	text-align: center;
	margin: auto;
	height: 120px;
	width: 1100px;
	padding-top: 1px;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	margin: auto;
	padding-bottom: 10px;

	z-index: 2000;

}

	/*Get rid of some header whitespace*/
	#header p:first-child {margin-top: 15px;}
	#header p:last-child {margin-bottom: 15px;}
	#header p {margin: 0;}

	.hidden {opacity: 0;}
	.perm_hidden {opacity: 0;}

.divider {
	background: black;
	margin-top: 5px;
	margin-bottom: 5px;
	height: 1px;
	opacity: .3;
}

#spacer {
	background: -webkit-linear-gradient(top, #000089, black);
	background: -moz-linear-gradient(top, #000089, black);
	background: -wms-linear-gradient(top, #000089, black);
	background: -o-linear-gradient(top, #000089, black);
	color: white;
	height: 35px;
	width: 1100px;
	border-bottom: 1px black solid;
	/*padding: 0;*/
	position: fixed;
	top: 130px;
	left: 0;
	right: 0;
	margin: auto;
	z-index: 2000;
}

	/*Space out nav items*/
	#menu { height: 35px; width: 1100px; margin: auto;}
		#menu tbody {
			height: 35px;
			padding: 0;
			margin: 0;
		}

			/*For specificity*/
			#menu td:last-child {
				border-right: none;
				padding-left: 3px;
				padding-right: 3px;
			}

			.nav_item {
				width: 153px;
				font-size: 14pt;
				font-family: FixWidth;
				/*height: 35px;*/
				/*padding-top: 13px;*/
				/*padding-bottom: 4px;*/
				margin-top: 6px;
				/*vertical-align: middle;*/
				text-align: center;
				display: inline-block;
				border-right: 1px solid white;
			}

	.nav_item:hover, .nav_item a:hover {
		cursor: pointer; 
		text-decoration: underline;
	}

	.divider_v {
		display: inline-block;
		width: 1px;
		height: 50px;
		background: black;
	}

#wrapper {
	background: white;
	border-radius: 3px;
	margin: auto;
	width: 1100px;
	/*clear: both;*/
	position: absolute;
	top: 165px;
	left: 0;
	right: 0;
	margin: auto;
}
	#content {
		margin-bottom: 15px;
		width: 1100px;
		text-align: center;
		background-color: white;
	}

		.ui-accordion-content {
			max-height: 585px;
		}

		/*Hide content by default as to not refresh page when switching tabs*/
		.content_cat {
			display: none; 
			width: 1000px;
			margin: auto;
			padding-top: 15px;
		}

			.acc_title {
				font-size: 14pt;
				border-radius: 0;
				border: 1px black solid;
				margin-top: -3px;
				margin-bottom: -3px;
			}

			.acc_title:hover {
				background: -webkit-linear-gradient(top, #000089, black);
				background: -moz-linear-gradient(top, #000089, black);
				background: -ms-linear-gradient(top, #000089, black);
				background: -o-linear-gradient(top, #000089, black);
				color: white;
				cursor: pointer;
			}

				.section {clear: both; padding-top: 15px;}

					.section img {float: left;}
					.info_text {
						text-align: left;
						float: right;
						font-size: 11pt;
						width: 750px;
						margin-top: -1px;
						/*background: red;*/
					}
					#content_projects .info_text {
						margin-top: 20px;
					}
					.info_title {color: #ff8300; font-size: 16pt;}
					.info_title a {color: #ff8300; font-size: 18pt;}

			#music_cont, #photo_cont {font-size: 12pt;}

			#skills_table {
				font-family: FixWidth;
				margin: auto;
				/*text-align: center;*/
				/*width: 1000px;*/
				/*padding-left: 55px;*/
				/*padding-right: 55px;*/
			}

				.score_bar {
					width: 200px;
					height: 20px;
					border: 1px solid gray;
					border-radius: 20px;
				}

					.score_bar div {
						height: 20px;
						border-radius: 20px;
					}

					.green {background-image: url('../images/rank_green.png');}
					.yellow {background-image: url('../images/rank_yellow.png');}
					.red {background-image: url('../images/rank_red.png');}

				#skills_table tbody {width: 750px;}
				#skills_table td {width: 250px;}
				td.skill_cat {color: #ff8300; font-size: 17pt; text-align: left;}
				.score_bar {float: right;}

				#music_cont p, #photo_cont p {margin-top: 5px;}
				#music_cont a:hover, #photo_cont a:hover {
					text-decoration: underline;
				}

			iframe#res_frame {width: 1000px;height: 700px;overflow: scroll;display: none;}

		#photo_cont td img {
			height: 175px; 
			width: 229px;
			/*-webkit-transition: opacity .4s ease-in-out;
			-moz-transition: opacity .4s ease-in-out;
			-ms-transition: opacity .4s ease-in-out;
			-o-transition: opacity .4s ease-in-out;*/
		}
		#big_grid td img:hover {
			/*opacity: .7; */
			-webkit-animation:wiggle .6s;
			-moz-transition:wiggle .6s;
			-ms-transition:wiggle .6s;
			-o-transition:wiggle .6s;
			-animation: wiggle .6s;
		}
		#photo_cont .accented img {height: 358px; width: 463px;}
		img.cboxPhoto {
			border-radius: 0;
		}

	#footer {
		clear: both;
		height: 70px;
		width: 1100px;
		margin: auto;
		margin-top: 15px;
		background: -webkit-linear-gradient(top, #000089, black);
		background: -moz-linear-gradient(top, #000089, black);
		background: -wms-linear-gradient(top, #000089, black);
		background: -o-linear-gradient(top, #000089, black);
		color: white;
		/*margin-top: 70px;*/
		/*position: fixed;*/
		/*bottom: 0;*/
	}

		#footer_left {
			padding-top: 15px;
			padding-left: 10px;
			width: 400px;
			margin-left: 5px;
			float: left;
			vertical-align: middle;
		}

		#footer_left p {
			color: white;
			font-family: Monospace;
			text-align: left;
			vertical-align: middle;
		}

			
		#footer_right {padding-right: 10px; float: right; padding-top: 10px;}

			.button {
				box-shadow: 0 0 0;
				height: 40px;
				width: 40px;
				opacity: .5;
				-webkit-transition: opacity .3s ease-in-out;
				-moz-transition: opacity .3s ease-in-out;
				-ms-transition: opacity .3s ease-in-out;
				-o-transition: opacity .3s ease-in-out;
			}
			.button:hover {opacity: 1;}

			.type_comm {
				font-family: monospace;
				text-align: left;
				width: 200px;
			}

			.comm_link {font-family: monospace; text-align: right;}

				.comm_link a {text-decoration: none; color: white;}
				.comm_link a:hover {/*color: black*/; font-weight: bold;}

/*IMAGE PROPERTIES*/
#umich_logo {height: 125px; width: 150px; float: left;}
#mhackers_logo , #panera_logo, #mjr_logo, #mtll_logo, #lcn_logo {
	height: 150px; width: 150px; float: left;
}
#site_thumbnail {height: 125px; width: 200px; left: 0;}
#TBP_logo {height: 200px; width: 150px; float: left;}
#cover_pic {height: 261px; width: 253px;}
#c {width: 110px;}
#cpp {width: 150px;}
#java {width: 50px;}
#web {width: 110px;}
#script{width: 50px;}
#ps {width: 150px;}
#fcp {width: 110px;}
#os {width: 150px;}
#windows {width: 110px;}
#leadership {width: 110px;}
#creative {width: 150px;}
#motive {width: 150px;}