@font-face {
    font-family: 'FixWidth';
    src: url('../font/secrcode.eot');
    src: url('../font/secrcode.eot') format('embedded-opentype'),
         url('../font/secrcode.woff') format('woff'),
         url('../font/secrcode.ttf') format('truetype'),
         url('../font/secrcode.svg#SecretCodeRegular') format('svg');
}
html {font-smoothing: none;}
a {text-decoration: none; color: black;}
body {background-image: url('../images/bg.jpg');/*background: #a6a6a6;*/}
img {
	border-radius: 2px; 
	height: 100px; 
	width: 100px;
	box-shadow: 2px 4px 15px #888888;
}
p {font-family: FixWidth;}

.selectedNav {
	/*font-weight: bold;*/
	text-decoration: underline;
	color: #ff8300;
}

	
.selectedTitle { 
	background: -webkit-linear-gradient(top, #000089, black);
	background: -moz-linear-gradient(top, #000089, black);
	background: -ms-linear-gradient(top, #000089, black);
	background: -o-linear-gradient(top, #000089, black);
	text-rendering: optimizeLegibility;
	/*background: -webkit-radial-gradient(top, #33cccc, #248f8f);*/
	color: white;
	/*font-weight: bold;*/}

.notSelectedTitle { 
	background: -webkit-linear-gradient(top, #FFc973, #ff9500);
	background: -moz-linear-gradient(top, #FFc973, #ff9500);
	background: -ms-linear-gradient(top, #FFc973, #ff9500);
	background: -o-linear-gradient(top, #FFc973, #ff9500);
/*font-weight: bold;*/}

#wrapper {
	background: white;
	border: gray solid 1px;
	border-radius: 2px;
	margin: auto;
	width: 1100px;
}
	
	#header {
		color: white;
		font-size: 2em;
		text-align: center;
		margin: auto;
		height: 100px;
		width: 1100px;
		margin-bottom: 10px;
	}

		/*Get rid of some header whitespace*/
		#header p:first-child {margin-top: 15px;}
		#header p:last-child {margin-bottom: 15px;}
		#header p {margin: 0;}

		.hidden {opacity: 0;/*display: none;*/}
		.perm_hidden {opacity: 0; /*display: none;*/}

	.divider {
		clear: both;
		background: black;
		margin: auto;
		margin-top: -5px;
		height: 1px;
		width: 1000px;
	}

	#menu {
		background: -webkit-linear-gradient(top, #000089, black);
		background: -moz-linear-gradient(top, #000089, black);
		background: -wms-linear-gradient(top, #000089, black);
		background: -o-linear-gradient(top, #000089, black);
		color: white;
		/*float: left;*/
		height: 20px;
		width: 1100px;
		margin-left: -20px;
		/*border: 1px black solid;*/
		border-bottom: 1px black solid;
		/*border-right: 1px black solid;*/
		/*border-top: 1px black solid;*/
		/*margin-bottom: -1px;
		margin-top: -1px;*/
		margin: 0 auto;
		/*padding-top: 5px;
		padding-bottom: 5px;*/
		/*border-radius: 8px;*/
		/*position: relative;*/
		/*border-bottom-right-radius: 8px;*/
		/*border-top-right-radius: 8px;*/
		/*font-weight: bold;*/
	}

		/*Space out nav items*/
		table#menu {
			padding: -2px;
		}

			#menu tbody {
				padding: 0;
			}
			#menu tr {
				padding: 0;
			}

				.nav_item {
					font-size: 14pt;
					font-family: FixWidth;
					padding-right: 350px;
					padding-left: 350px;
					/*height: 30px;*/
					padding-top: 7px;
					padding-bottom: 7 px;
					text-align: center;
					display: inline-block;
					/*width: 150px;*/
					/*border: 1px white solid;*/
					/*margin-right: -5px;*/
					/*margin-top: -6px;*/
				}
		/*.nav_item:first-child {padding-left: 43px;}
		.nav_item:last-child {padding-right: 43px;}*/

		.nav_item:hover, .nav_item a:hover {cursor: pointer; color: #ff8300;}

		.divider_v {
			display: inline-block;
			width: 1px;
			height: 50px;
			background: black;
		}

	#content {
		float: right;
		margin-right: 50px;
		margin-top: 15px;
		margin-bottom: 15px;
		width: 1000px;
		text-align: center;
	}

		/*Hide content by default as to not refresh page when switching tabs*/
		.content_cat {display: none;}

			.acc_title {
				font-size: 1.1em;
				/*background: -webkit-radial-gradient(top, #FFc973, #ff9500);*/
				/*color: black;*/
				border-radius: 0;
				border: 1px black solid;
				margin-top: -3px;
				margin-bottom: -3px;
			}

			.acc_title:hover {
				background: -webkit-linear-gradient(top, #000089, black);
				background: -moz-linear-gradient(top, #000089, black);
				background: -ms-linear-gradient(top, #000089, black);
				background: -o-linear-gradient(top, #000089, black);
				/*background: -webkit-radial-gradient(top, #33cccc, #248f8f);*/
				color: white;
				cursor: pointer;
				/*font-weight: bold;*/}

				/*.info {width: 750px;}*/

				.section {clear: both; padding-top: 15px;}

					.section img {float: left;}
					.info_text {
						/*color: orange;*/
						text-align: left;
						float: right;
						font-size: 11pt;
						width: 750px;
						margin-top: -1px;
						/*vertical-align: center;*/
					}
					#content_projects .info_text {
						margin-top: 30px;
					}

					.info_title {color: #ff8300; font-size: 1.45em;}

			#music_cont, #photo_cont {font-size: .85em;}

				#music_cont p, #photo_cont p {margin-top: 5px;}
				#music_cont a:hover, #photo_cont a:hover {
					text-decoration: underline;
				}

			iframe#res_frame {width: 1000px;height: 600px;overflow: scroll;}

		#photo_cont td img {height: 175px; width: 200px;}

	#footer {
		clear: both;
		height: 100px;
		width: 1000px;
		margin: auto;
		margin-top: 15px;
		margin-bottom: 10px;
	}

		#footer_left {
			padding-top: 15px;
			width: 400px;
			margin-left: 5px;
			float: left;
			vertical-align: middle;
		}

		#footer_left p {
			color: #777777;
			font-family: Monospace;
			text-align: left;
			vertical-align: middle;
		}

		#footer_right {margin-right: 5px; width: 250px; float: right;}

			#footer_right th {color: #777777; font-family: monospace; font-size: 1.2em;}

			.type_comm {
				color: #777777;
				font-family: monospace;
				text-align: left;
				width: 200px;
			}

			.comm_link {font-family: monospace; text-align: right;}

				.comm_link a {text-decoration: none; color: #777777;}
				.comm_link a:hover {color: black; font-weight: bold;}

/*IMAGE PROPERTIES*/
#umich_logo {height: 125px; width: 150px; float: left;}
#mhackers_logo , #panera_logo, #mjr_logo, #mtll_logo, #lcn_logo {
	height: 150px; width: 150px; float: left;
}
#site_thumbnail {height: 125px; width: 200px; float: left;}
#TBP_logo {height: 200px; width: 150px; float: left;}
#cover_pic {height: 261px; width: 253px;}